<div ng-controller="MainCtrl">
  <button ng-click="showRegistrationForm()">New Registration</button>
  <button ng-click="showLoginForm()">Login Account</button>


  <div id="registerArea">
    <form name="registerForm" onsubmit="register()">
      <input type="text" required placeholder="Nickname" />
      <input type="text" required placeholder="Password" />

      <button disabled="{{registerArea.$invalid}}" value="Register"/>
    </form>
  </div>

  <div id="logonArea">
    <form name="loginForm" onsubmit="loginToServer()">
      <input type="text" required placeholder="Nickname" />
      <input type="text" required placeholder="Password" />

      <button disabled="{{loginForm.$invalid}}" value="Login"/>
    </form>
  </div>

  <!-- Logged on user area-->
  <div id="loggedOnArea" ng-show="loginToken != ''">
    <button ng-click="changeTab('global')" value="Global" />
    <button ng-click="changeTab('contacts')" value="Contacts" />

    <h4>Search for contacts</h4>
    <p>
      <input type="text" ng-model="nicknameToSearch"/>
      <input type="button" ng-click="searchByNickname()" />
      <a href="{{chatLink}}">Link</a>
    </p>

    <div ng-show="activeTab == 'global'" class="row marketing">
      <h4>Global Chat</h4>




    </div>
    <div ng-show="activeTab == 'contacts'" class="row marketing">
      <h4>Contacts</h4>




    </div>

  </div>

</div>
